/* Discover.css */
.discover {
    text-align: center;
  }
  
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile-review {
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  
  .profile-details {
    display: inline-block;
  }
  
  .rating {
    color: #f39c12;
  }
  
  .read-more {
    color: #007BFF;
    cursor: pointer;
  }
  
@media (min-width:992px) {
  .total-block {
    display: flex;
    
    justify-content: space-around;
}
}


.discovers-1 {
    width: 100%;
    max-width: 1404px;
}

.level-block-1 {
    display: flex;
}



.profile-review {
  width: 353px;
  height: fit-content;
}


.level-block-1 {
 
  margin-bottom: 14px;
}


.middleimage-11 img{
  width: 365px;
  height: 385px;
  border-radius: 11px;
}


.dis-2 {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}


