
  
  
  
  .contact-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    padding: 3rem 3rem;
}
  
  .contact-card h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000;
  }
  
  .contact-card p {
    font-size: 1.1rem;
    margin: 5px 0;
    color: #333;
  }
  


  .location-button {
    background-color: #206D99;
    color: white;
    padding: 17px 33px;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 20px;
}
  
  .location-button:hover {
    background-color: #155a8a;
  }
  