/* src/components/Header.css */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 61px;
    background-color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  
  .navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  
  .navigation .active-link {
    font-weight: bold;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
  }

  .logo a  {
    text-decoration: none !important;
    color:#000 !important;
  }
  